body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    text-align: center;
    color: #012970;;

}

.container .title::before {
    content: "";
    position: absolute;
    left: 250px;
    bottom: 0;
    height: 3px;
    width: 130px;
    border-radius: 5px;
    background: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
}

.btn-outline-primary:hover {
    background-color: #2f568d;
}